[run]
omit =
    */tests/*
    */migrations/*
    */__init__.py
    .venv/*
    */admin.py
    manage.py
    */asgi.py
    */wsgi.py

[report]
omit =
    */tests/*
    */migrations/*
    */__init__.py
    .venv/*
    */admin.py
    manage.py
    */asgi.py
    */wsgi.py
    
[html]
directory = cover