<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static '/css/style.css'%}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body class="left_body" scrolling="no">
    <div class="left_links">
      <br>
      <a href="{% url 'articles:src_link' %}" target="right_frame">選択</a><br>
      <p>↓</p>
      <button type="submit" name="apply_button" id="apply">反映</button>
      <p>↓</p>
      <table>
        <thead>結果</thead><br>
        <tr><a href="{% url 'articles:result_positive' %}" target="right_frame">推奨候補</a></tr><br>
        <tr><a href="{% url 'articles:result_negative' %}" target="right_frame">除外候補</a></tr><br>
      </table>
      <br><br><br>
      <br>
      <a href="{% url 'articles:src_link' %}" target="right_frame">図表</a><br>
      <br>
      <form method="post" action="{% url 'articles:all_clear' %}" target='right_frame'>
        {% csrf_token %}
        <button type="submit" name="reset">全評価<br>クリア</button>
      </form>
      <br><br><br><br>
      <p id="username">ユーザー名：</p>
      <p id="current_username">{{ user }}</p><br>
      <button type="button" id="logout_id" name="logout" onclick="transitWithLoadingCircle('logout')">ログアウト</button>
    </div>
    <script src="{% static '/javascript/match_result.js' %}"></script>
  </body>
</html>