<!DOCTYPE html>
{% load static %}
{% load external_functions %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static '/css/style.css'%}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body class="left_body" scrolling="no">
    <div class="left_links">
      <br>
      <a href="{% url 'articles:src_link' %}" target="right_frame">選択</a><br>
      <p>↓</p>
      <button type="submit" name="apply_button" id="apply">反映</button>
      <p>↓</p>
      <a href="{% url 'articles:result' %}" target="right_frame">結果</a><br>
      <br><br><br><br><br><br>
      <a href="{% url 'articles:src_link' %}" target="right_frame">累積</a><br>
      <br>
      <a href="{% url 'articles:src_link' %}" target="right_frame">図表</a><br>
      <br>
      <form action="post">
        <button type="button" name="reset">反映<br>リセット</button>
      </form>
    </div>
    <!-- <script>
      $(function(){
        $("#apply").on("click", function(){
          $("#right_frame", parent.document).attr("src", "/loading").on("load", function(){
            $.get("/result", function(data){
              $(document).ajaxComplete(function(){
                $("#right_frame", parent.document).replaceWith(data);
              });
            });
          });
        });
      });
    </script> -->
    <script src="{% static '/javascript/match_result.js' %}"></script>
  </body>
</html>